@media (max-width: 575.98px) {
    
    .hero-text{
        text-align: center;
    }

    .headbody {
        display: flex;
        /* justify-content: center; */
        align-items: center;
        flex-direction: column;
        margin-bottom: 15px;
    }

    .cancel-btn {
        position: absolute;
        right: 10px;
    }

    .box {

        gap: 30px;
    }

    .chaild-box {
        margin-top: -10px !important;
    }

    .box a {
        font-size: 10px;
    }

    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        max-height: 100%;
        margin-top: 30px;
        border: 1px solid var(--pragraph-color);
        padding: 15px 0;
        box-shadow: 6px 6px 10px rgba(36, 31, 32, 0.35);
    }

    .orderimg-1,
    .aboutimg {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .about-row {
        margin-top: 80px;
        flex-direction: column-reverse;
    }

    .aboutimg {
        margin-top: -100px;
    }

    .contacthead,
    .servicehead,
    .time-list,
    .pressimg-1 {
        display: flex;
        justify-content: center;
    }

    .contacttext {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        margin-bottom: 20px;
    }

    .servicetext {
        display: flex;
        justify-content: center;
        margin-left: 50px;
        margin-right: 50px;
        gap: 60px;
    }

    .datetime {
        margin-left: -40px;
    }

    .footer-text {
        margin-top: 20px;
    }

    .footer-table {
        display: none;
    }

    .footer-link {
        margin-top: 50px !important;
    }

    .copyright-txt {
        text-align: center;
        flex-direction: column;
        gap: 10px !important;
    }
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}

/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {}